<!-- Web.Config Configuration File -->

<configuration>
	<appSettings>

		<!-- Configurações -->
			
			<add key="tituloComplemento" value="LeHoo"/>
			
			
			<!-- Domínio Site -->
			<add key="dom" value="www.lehoo.com.br"/>
			
			<!-- Emails Site-->
			
			<!-- Prefixo das tabelas -->
			<add key="confPrefixoTabelas" value="le"/>
			
		<!-- Regras  -->
			<!-- Tempo limite de validade de uma chave de autenticação / cookie de autenticação em horas -->
			<add key="tempoValidadeCookie" value="2"/>
			
		
		
		
		<!-- Chaves DB  -->
			
			
			<!-- Quantidade total de bancos -->
			<add key="strTotalDB" value="1" />
			
			<!-- 
			Estrutura  
				strDB[X]:identificador
				strDBType[X]:tipo de banco
				sqlWrite[X]: string de conexao escrita
				sqlRead[X]: string de conexao leitura  
				-->
			<add key="strDB1" value="site"/>
			<add key="strDBType1" value="MSSQL"/>
			<add key="sqlWrite1" value="server=198.71.225.145;uid=lehoo;database=lehoo;pwd=Wsan20@to15;Pooling=true;"/>
			<add key="sqlRead1" value="server=198.71.225.145;uid=lehoo;database=lehoo;pwd=Wsan20@to15;Pooling=true;"/>
			
		
	</appSettings>
	<connectionStrings/>
    <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages enableEventValidation="false" enableViewStateMac="false" />
        <customErrors mode="Off"/>
		<globalization 
         requestEncoding="iso-8859-1"
         responseEncoding="iso-8859-1"
		 uiCulture="pt-BR" culture="pt-BR" />
		<compilation debug="true">
			<assemblies>
				<add assembly="*" />
			</assemblies>
		</compilation>
    </system.web>
    <system.webServer>
		<modules>
			<remove name="WebDAVModule"/>
		</modules>
        <handlers accessPolicy="Read, Write, Execute, Script">
		  <remove name="WebDAV" />
		  <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<security>
		  <authorization>
			<remove users="*" roles="" verbs="" />
			<add accessType="Allow" users="*" verbs="GET,HEAD,POST,PUT,DELETE,DEBUG,OPTIONS" />
		  </authorization>
		</security>
		
    	<rewrite>
    		<rules>
		    	<rule name="Acesso GDS" stopProcessing="true">
		            <match url="^gds\/?$" />
		            <action type="Redirect" url="http://readymake.gerenciadordesite.com/gds/v4/" redirectType="Permanent" />
		        </rule>
		    </rules>
	    </rewrite>
		<!--
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404" />
			<error statusCode="404" responseMode="ExecuteURL" path="/301.aspx" />
		</httpErrors>
		-->
		<httpErrors errorMode="Detailed" />
        <!--<staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".m4v" mimeType="video/mp4" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogv" />
            <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>-->
    </system.webServer>
</configuration>